# Dependencies
/vendor/
/composer.phar

# Environment
.env
.env.*
!.env.example

# Logs and cache
*.log
logs/
log/
tmp/
temp/
cache/
storage/
.phpunit.result.cache

# PHPUnit / Coverage
phpunit.xml
coverage/
clover.xml

# Uploads (если будут)
public/uploads/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
.idea/
.vscode/
*.code-workspace

# Node (на всякий случай)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB files / dumps
*.sqlite
*.sqlite3
*.sql